# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Toggle comment': 'comment:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Comments'
      'submenu': [
        { 'label': 'Toggle', 'command': 'comment:toggle' }
      ]
    ]
  }
]
