# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [{
    'label': 'Toggle comment', 'command': 'comment:toggle'
  }]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Comments'
      'submenu': [
        { 'label': 'Toggle', 'command': 'comment:toggle' }
      ]
    ]
  }
]
